**/.DS_Store
*.tsbuildinfo
.claude
.idea
.phpunit.cache
.phpunit.result.cache
.serena
.superpowers
.vscode
/banners
Thumbs.db
build
composer.lock
coverage
node_modules
phpstan.neon
phpunit.xml
testbench.yaml
vendor
