parameters:
	ignoreErrors:
		-
			message: '#^Trait Happenv\\FilamentPasskeys\\Concerns\\InteractsWithPasskeysAuthentication is used zero times and is not analysed\.$#'
			identifier: trait.unused
			count: 1
			path: src/Concerns/InteractsWithPasskeysAuthentication.php

		-
			message: '#^PHPDoc tag @mixin contains generic class Livewire\\Features\\SupportTesting\\Testable but does not specify its types\: TComponent$#'
			identifier: missingType.generics
			count: 1
			path: src/Testing/TestsPasskeyAuthentication.php
